<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Dashboard</title>
  <link rel="stylesheet"  href="/stylesheets/style.css">
</head>
<body>
  <div class="background-wrapper">
    <div class="background" style="background-image:url('https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')">
    </div>
 </div>
 <div class="content-wrapper">
  <div class="top-wrapper">
    <div>Links</div>
    <div>Weather
      <p id="status"></p>
    </div>
  </div>
  <div class="center-wrapper">
    <div class="time">
      <div id="clock"></div>
    </div>
    <div class="greeting-wrapper">
      <input id="name" class="name-input" placeholder="What's your name?" name="name"></input>
      <span id="greetingLine" class="greeting-line"></span>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="photo-ref">
      <a href="https://www.pexels.com">Photos provided by Pexels</a>
    </div>
    <div>Quote</div>
    <div>ToDo</div>
  </div>
 </div>
</body>
</html>
<script type="text/javascript" src="../javascripts/scripts.js"></script>